[submodule "tracker"]
	path = tracker
	url = https://github.com/BrATdev/donation-tracker.git
[submodule "tracker_ui"]
	path = tracker_ui
	url = https://github.com/BrATdev/donation-tracker-ui.git
[submodule "django-paypal"]
	path = django-paypal
	url = https://github.com/BrATdev/django-paypal.git
